<div class="col-md-6">

<h2>Login</h2><br>

<form novalidate ng-submit="login">
<input placeholder="Email/Username" ng-model="user" /><br><br>
<input placeholder="Password" ng-model="pass" /><br><br>
</form>

</div>





<div class="col-md-6"style="border-left:1px solid gray">

<h2>Register</h2><br>

<form novalidate ng-submit="reg">
	<input placeholder="First name" ng-model="fname" ><br><br>
	<input placeholder="Last name" ng-model="lname" ><br><br>
	<input placeholder="Email/Username" ng-model="user" /><br><br>
	<input placeholder="Password" ng-model="pass" /><br><br>
</form>

<img src="../images/login_fb.png" height="30px"/><br><br>
<img src="../images/login_google.png" height="30px"/><br><br><br><br><br><br>

</div>
<!--

UserImage

First name
Last name
University/Email
Facebook Connect
Google Connect

Reputation
-->